In [1]:
import datetime as dt
import wget
import os
import pandas as pd
import numpy as np
from zipfile import ZipFile
from timeit import default_timer as timer
from numba import njit, prange, jit

## Constantes

In [9]:
# define o ticker do ativo que vou usar pra treinar o modelo
ticker = "BTCUSDT"
# timeframes precisa estar em ordem crescente e começar em 1s ou 1m
timeframes = ("1m", "5m", "15m", "30m", "1h", "2h", "4h", "8h", "1d")
# quantos períodos vamos olhar pro passado
lookback = 20

In [3]:
# só extrai o arquivo dado como parâmetro para a pasta ./Dados/temp
def extrai_arquivo(arq):
    try:
        ZipFile(arq, 'r').extractall('./Dados/temp/')
    except:
        print(f"erro ao extrair {arq}")
# mazalves@inf.ufpr.br ou marco.eu@gmail.com

In [4]:
# Adiciona e preenche linhas faltantes nos arquivos com 0
def corrige_arquivos(timeframes):
    freq = [item.replace("m", "T") for item in timeframes]
    for timeframe, freqs in zip(timeframes, freq):
        df = (pd.read_csv(f"./Dados/Processados/BTCUSDT-{timeframe}.csv", index_col ="Close time"))
        df.index = pd.to_datetime(df.index, unit="ms")
        novo_index= pd.date_range(start = df.index[0], end=df.index[-1], freq=freqs)
        df = df.reindex(novo_index, fill_value=0)
        # faz virar unix de volta
        df.index = (df.index - pd.Timestamp("1970-01-01")) // pd.Timedelta("1ms")
        df.reset_index(inplace=True)
        df.rename(columns={"index": "Close time"}, inplace=True)
        df.to_csv(f"./Dados/Processados/BTCUSDT-{timeframe}.csv", index=False)

In [5]:
# baixa dados, concatena em um dataframe só e salva em um .csv
# limpa depois
def baixa_e_concatena(ticker, timeframe, ano_inicial):
    ano_corrente, mes_corrente, dia_corrente = [dt.date.today().year, dt.date.today().month, dt.date.today().day]
    
    # baixa dados da binance conforme ticker e timeframe selecionados para a pasta ./Dados/
    # timeframes disponiveis: 12h 15m 1d 1h 1m 1mo 1s 1w 2h 30m 3d 3m 4h 5m 6h 8h
    # tickers disponiveis: https://data.binance.vision/?prefix=data/spot/monthly/klines/
    url = "https://data.binance.vision/data/spot/monthly/klines/"
    if not os.path.exists(f"./Dados/Processados/{ticker}-{timeframe}.csv"):
        for ano in range(ano_inicial, ano_corrente+1):
            for mes in range(1,12+1):
                mes = str(mes).zfill(2)
                if not ((os.path.exists(f"./Dados/temp/{ticker}-{timeframe}-{ano}-{mes}.zip"))):
                    try:
                        wget.download(f"{url}{ticker}/{timeframe}/{ticker}-{timeframe}-{ano}-{mes}.zip"
                                      , out = f"./Dados/temp/")
                        pass
                    except:
                        print(f"\nFalha ao baixar {url}{ticker}/{timeframe}/{ticker}-{timeframe}-{ano}-{mes}.zip")
                else:
                    print(f"{ano}/{mes} já baixado")
    else:
        print(f"{ticker}-{timeframe} já processado")
        return
    
    # cria uma lista de arquivos do ticker e timeframe selecionado
    lista_arquivos = os.listdir("./Dados/temp/")
    lista_arquivos = [x for x in lista_arquivos if x.startswith(f"{ticker}-{timeframe}")]
    lista_arquivos[-5:]
    
    # cria um dataframe vazio pra colocar todos os dados dentro
    nomes = ["Open time","Open","High","Low","Close","Volume","Close time","Quote asset volume"
                                 ,"Number of trades","Taker buy base asset volume","Taker buy quote asset volume","Ignore"]
    df = pd.DataFrame(columns = nomes)
    
    # concatena tudo em um CSV e deixa na pasta ./Dados/Processados/
    for arq in lista_arquivos:
        extrai_arquivo(f"./Dados/temp/{arq}")
        df = pd.concat([df, pd.read_csv(f'./Dados/temp/{arq[:-4]}.csv', sep=',',decimal='.'
                                   , encoding='latin1', names=nomes, header=None)], ignore_index=True, copy=False)
        os.remove(f"./Dados/temp/{arq[:-4]}.csv")
    df.drop("Ignore", inplace=True, axis=1)
    df.set_index("Open time", inplace=True)
    df.to_csv(f"./Dados/Processados/{ticker}-{timeframe}.csv")
    
    print(f"./Dados/Processados/{ticker}-{timeframe}.csv")
    
    # deleta tudo que é temporario e já foi processado
    for arq in lista_arquivos:
        os.remove(f"./Dados/temp/{arq}")
    
    
    return

## Prepara os dados

#### Só rodar se precisar baixar e processar tudo de novo!

In [5]:
for timeframe in timeframes:
    baixa_e_concatena(ticker= ticker, timeframe=timeframe, ano_inicial=2017)

BTCUSDT-1m já processado
BTCUSDT-5m já processado
BTCUSDT-15m já processado
BTCUSDT-30m já processado
BTCUSDT-1h já processado
BTCUSDT-2h já processado
BTCUSDT-4h já processado
BTCUSDT-8h já processado
BTCUSDT-1d já processado

In [ ]:
corrige_arquivos(timeframes)

## Cria janelas

In [6]:
# cria uma lista de numpy arrays com os dados de cada timeframe.
# Eles estão organizados na mesma ordem que os timeframes
dfs = [(pd.read_csv(f"./Dados/Processados/BTCUSDT-{timeframe}.csv", 
                      usecols=["Close time", "Close"])[::-1]).to_numpy(dtype="float32") for timeframe in timeframes]
dfs[0]

array([[1.6542400e+04, 1.6725311e+12],
       [1.6536420e+04, 1.6725311e+12],
       [1.6537779e+04, 1.6725310e+12],
       ...,
       [4.2805601e+03, 1.5029426e+12],
       [4.2614800e+03, 1.5029425e+12],
       [4.2614800e+03, 1.5029425e+12]], dtype=float32)

In [10]:
# cria janela pra cada linha de dados
def cria_janela(linha, dfs=dfs , lookback=lookback):
    # cria janela vazia. precisa ter 1 coluna a mais que a qtd de timeframes
    df_janela = np.full(shape= (lookback, len(dfs)+1), fill_value=np.nan, dtype="float32")
    # coloca o preco de fechamento de 1m na primeira coluna e o close time de 1m na ultima coluna
    df_janela[:, 0] = dfs[0][linha:linha+lookback, 0]
    df_janela[:, -1] = dfs[0][linha:linha+lookback, -1]
    
    for i in prange(1,len(dfs)):
        # pega o numero da linha o primeiro closetime do timeframe é igual ou menor que o da janela atual
        index = (dfs[i][:,1] <= df_janela[0,-1]).argmax()
        # coloca as 20 (lookback) linhas subsequentes dentro da janela
        df_janela[:, i] = dfs[i][index:index+lookback, 0]

    # deleta coluna de close time e retorna
    return(df_janela[:,:-1])
#pd.DataFrame(cria_janela(99, dfs, lookback))

In [11]:
%%timeit
# numpy
# resultado bate
# tentar meter um paralelismo. demora 3,4 min pra rodar atualmente

linha = 0

linhas = 10000

print(len(dfs[0])-lookback)
start = timer()
while linha < (linhas):
#for linha in range(len(dfs[timeframes[0]])-lookback):
    df_janela = cria_janela(linha, dfs, lookback)
    
    # define se é long ou short
    # create_gaf(df_janela)
    # salva na pasta long ou short
    linha += 1
end = timer()
print("Tempo de execução: ",end - start)
print("Tempo estimado para execução completa: ", ((len(dfs[0])-lookback)/linhas)*(end - start)/60, " min")
pd.DataFrame(df_janela)

2817979
Tempo de execução:  0.7314549000000028
Tempo estimado para execução completa:  3.435374246078513  min
2817979
Tempo de execução:  0.730085900000006
Tempo estimado para execução completa:  3.428944557326862  min
2817979
Tempo de execução:  0.7195367000000061
Tempo estimado para execução completa:  3.379398850548862  min
2817979
Tempo de execução:  0.7209356000000042
Tempo estimado para execução completa:  3.3859689685873535  min
2817979
Tempo de execução:  0.7224033000000105
Tempo estimado para execução completa:  3.3928622148845498  min
2817979
Tempo de execução:  0.7277123000000074
Tempo estimado para execução completa:  3.4177966324028684  min
2817979
Tempo de execução:  0.7276688999999976
Tempo estimado para execução completa:  3.417592798588489  min
2817979
Tempo de execução:  0.7233868000000001
Tempo estimado para execução completa:  3.3974813521286675  min
725 ms ± 3.68 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

# Problemas:
- Se for usar GAF image vai ter uma imagem 20x20 por coluna (supondo que estamos olhando 20 períodos no passado por vez)
- Não está claro se 1D CNN é uma boa alternativa para timeseries.

# Soluções:
#### 1
- Usar GAF de qualquer maneira para tentar replicar os resultados do trabalho do BARRA, usando apenas os preços de fechamento de 4 timeframes e ver se os resultados melhoram com CSVM
- Depois se eu quiser adiciono mais dados, mas a imagem vai ficar bem grande. (5 colunas de t-20 resulta em uma imagem de 100x100). GAF usando mais dados seria o melhor dos mundos.

#### 2
- Usar 1D CNN com todos os dados disponíveis
- Metodo completamente diferente do do BARRA. Não usa GAF images. Provavelmente mais fácil

### A partir daqui são só testes

In [47]:
# cria uma lista de numpy arrays com os dados de cada timeframe.
# Eles estão organizados na mesma ordem que os timeframes
dfs = [(pd.read_csv(f"./Dados/temp/BTCUSDT-{timeframe}.csv", 
                      usecols=["Close time", "Close"])[["Close", "Close time"]][::-1]).to_numpy(dtype="float32") for timeframe in timeframes]
dfs[0]

array([[1.6542400e+04, 1.6725311e+12],
       [1.6536420e+04, 1.6725311e+12],
       [1.6537779e+04, 1.6725310e+12],
       ...,
       [4.2805601e+03, 1.5029426e+12],
       [4.2614800e+03, 1.5029425e+12],
       [4.2614800e+03, 1.5029425e+12]], dtype=float32)

In [48]:
# cria lista de qtd de minutos ou segundos por timeframe, dependendo de qual for o primeiro timeframe utilizado
def timeframes_mesma_unidade(timeframes=timeframes):
    lista = []
    for timeframe in timeframes:
        qtd = int(timeframe[:-1])
        unidade = timeframe[-1]
        if timeframes[0] == "1s":
            lista.append(pd.to_timedelta(qtd, unit=unidade).total_seconds())
        elif timeframes[0] == "1m":
            lista.append(pd.to_timedelta(qtd, unit=unidade).total_seconds()/60)
        else:
            print("Timeframe inicial não é de 1 minuto ou 1 segundo.")
    return(lista)


timeframes_padronizado = timeframes_mesma_unidade(timeframes)
timeframes_padronizado

[1.0, 5.0, 15.0, 30.0, 60.0, 120.0, 240.0, 480.0, 1440.0]

In [50]:
# cria janela pra cada linha de dados
# implementar substituição ao argmax()

def cria_janela(linha, dfs=dfs , lookback=lookback):
    # cria janela vazia. precisa ter 1 coluna a mais que a qtd de timeframes
    df_janela = np.full(shape= (lookback, len(dfs)+1), fill_value=np.nan, dtype="float32")
    # coloca o preco de fechamento de 1m na primeira coluna e o close time de 1m na ultima coluna
    df_janela[:, 0] = dfs[0][linha:linha+lookback, 0]
    df_janela[:, -1] = dfs[0][linha:linha+lookback, -1]
    
    for i in prange(1,len(dfs)):
        # pega o numero da linha o primeiro closetime do timeframe é igual ou menor que o da janela atual
        index = (dfs[i][:,1] <= df_janela[0,-1]).argmax()
        # coloca as 20 (lookback) linhas subsequentes dentro da janela
        df_janela[:, i] = dfs[i][index:index+lookback, 0]

    # deleta coluna de close time e retorna
    return(df_janela[:,:-1])
#lookback = 20
#pd.DataFrame(cria_janela(100, dfs, lookback))

,0,1,2,3,4,5,6,7,8
0,16531.619141,16531.619141,16565.380859,16548.279297,16548.279297,16548.279297,16570.140625,16590.099609,16607.480469
1,16519.140625,16565.380859,16548.279297,16563.839844,16568.599609,16570.140625,16590.099609,16565.089844,16633.470703
2,16547.339844,16556.179688,16560.529297,16568.599609,16570.140625,16582.080078,16567.150391,16607.480469,16547.310547
3,16554.119141,16543.939453,16563.839844,16570.710938,16577.789062,16590.099609,16565.089844,16555.259766,16706.359375
4,16562.730469,16548.279297,16566.310547,16570.140625,16582.080078,16600.890625,16552.460938,16474.929688,16919.390625
5,16565.380859,16549.589844,16568.599609,16572.169922,16600.390625,16567.150391,16607.480469,16633.470703,16832.109375
6,16562.259766,16556.150391,16570.460938,16577.789062,16590.099609,16544.259766,16525.369141,16616.599609,16836.119141
7,16561.810547,16560.529297,16570.710938,16577.130859,16586.429688,16565.089844,16555.259766,16556.369141,16778.500000
8,16565.109375,16560.070312,16569.759766,16582.080078,16600.890625,16538.759766,16496.269531,16547.310547,16821.429688
9,16562.490234,16557.919922,16570.140625,16583.429688,16575.439453,16552.460938,16474.929688,16578.519531,16824.669922
10,16556.179688,16563.839844,16577.140625,16600.390625,16567.150391,16568.240234,16599.080078,16647.160156,16895.560547
11,16546.890625,16559.880859,16572.169922,16602.220703,16566.029297,16607.480469,16633.470703,16706.359375,16438.880859
12,16544.400391,16566.140625,16575.990234,16590.099609,16544.259766,16585.060547,16612.400391,16799.779297,16738.210938
13,16545.330078,16566.310547,16577.789062,16603.470703,16554.050781,16525.369141,16616.599609,16869.189453,16776.519531
14,16543.310547,16566.009766,16576.570312,16586.429688,16565.089844,16533.119141,16598.699219,16919.390625,16632.119141
15,16543.939453,16567.650391,16577.130859,16630.589844,16546.710938,16555.259766,16556.369141,16809.509766,17356.339844
16,16544.109375,16568.599609,16586.589844,16600.890625,16538.759766,16465.880859,16558.330078,16843.650391,17803.150391
17,16545.070312,16566.990234,16582.080078,16584.730469,16551.890625,16496.269531,16547.310547,16832.109375,17774.699219
18,16544.679688,16571.640625,16582.609375,16575.439453,16552.460938,16517.210938,16595.919922,16793.089844,17209.830078
19,16545.550781,16570.460938,16583.429688,16567.539062,16575.939453,16474.929688,16578.519531,16821.970703,17085.050781

In [53]:
df_janela2

,Close_1m,Close_5m,Close_15m,Close_30m,Close_1h,Close_2h,Close_4h,Close_8h,Close_1d
0,16531.62,16531.62,16565.38,16548.28,16548.28,16548.28,16570.14,16590.10,16607.48
1,16519.14,16565.38,16548.28,16563.84,16568.60,16570.14,16590.10,16565.09,16633.47
2,16547.34,16556.18,16560.53,16568.60,16570.14,16582.08,16567.15,16607.48,16547.31
3,16554.12,16543.94,16563.84,16570.71,16577.79,16590.10,16565.09,16555.26,16706.36
4,16562.73,16548.28,16566.31,16570.14,16582.08,16600.89,16552.46,16474.93,16919.39
5,16565.38,16549.59,16568.60,16572.17,16600.39,16567.15,16607.48,16633.47,16832.11
6,16562.26,16556.15,16570.46,16577.79,16590.10,16544.26,16525.37,16616.60,16836.12
7,16561.81,16560.53,16570.71,16577.13,16586.43,16565.09,16555.26,16556.37,16778.50
8,16565.11,16560.07,16569.76,16582.08,16600.89,16538.76,16496.27,16547.31,16821.43
9,16562.49,16557.92,16570.14,16583.43,16575.44,16552.46,16474.93,16578.52,16824.67
10,16556.18,16563.84,16577.14,16600.39,16567.15,16568.24,16599.08,16647.16,16895.56
11,16546.89,16559.88,16572.17,16602.22,16566.03,16607.48,16633.47,16706.36,16438.88
12,16544.40,16566.14,16575.99,16590.10,16544.26,16585.06,16612.40,16799.78,16738.21
13,16545.33,16566.31,16577.79,16603.47,16554.05,16525.37,16616.60,16869.19,16776.52
14,16543.31,16566.01,16576.57,16586.43,16565.09,16533.12,16598.70,16919.39,16632.12
15,16543.94,16567.65,16577.13,16630.59,16546.71,16555.26,16556.37,16809.51,17356.34
16,16544.11,16568.60,16586.59,16600.89,16538.76,16465.88,16558.33,16843.65,17803.15
17,16545.07,16566.99,16582.08,16584.73,16551.89,16496.27,16547.31,16832.11,17774.70
18,16544.68,16571.64,16582.61,16575.44,16552.46,16517.21,16595.92,16793.09,17209.83
19,16545.55,16570.46,16583.43,16567.54,16575.94,16474.93,16578.52,16821.97,17085.05

In [28]:
# o final da iteração é quando acabam os dados pro ultimo timeframe
lookback = 20
# ultima coluna, que tem os dados do maior timeframe, é df[-1]
ultima_linha = int((len(dfs[-1])-lookback)*timeframes_padronizado[-1])
print(ultima_linha)
cria_janela(ultima_linha, dfs, lookback)



####################################
# criar funcao pra retornar numero de minutos/segundos por dia/hora, dependendo dos timeframes selecionados.
# assim dá pra pegar o indexador mais rápido e eu sei em qual linha parar

# existem dados faltando aparentemente. Verificar
# se estiver mesmo, cria um date range com todos os 1m, 5m, 1d, etc desde o início da série
# joina os dados e preencher se tiver faltando com ffill
# ou ignora e deixa como está usando argmax

2797920

array([[4366.47, 4366.47, 4366.47, 4366.47, 4366.47, 4366.47, 4366.47,
        4366.47, 4366.47],
       [4366.47, 4370.85, 4426.27, 4450.52, 4423.46, 4374.43, 4442.48,
        4151.  , 4100.11],
       [4366.47, 4404.15, 4450.52, 4423.46, 4374.43, 4442.48, 4151.  ,
        4190.4 , 4509.08],
       [4353.02, 4426.27, 4425.  , 4413.99, 4431.61, 4322.47, 4246.82,
        4100.11, 4472.14],
       [4361.68, 4428.68, 4423.46, 4374.43, 4442.48, 4151.  , 4190.4 ,
        4015.03, 4834.91],
       [4370.85, 4450.52, 4415.72, 4399.42, 4390.14, 4261.04, 3988.04,
        4186.96, 4724.89],
       [4370.86, 4450.52, 4413.99, 4431.61, 4322.47, 4246.82, 4100.11,
        4509.08, 4555.14],
       [4370.86, 4473.09, 4397.99, 4381.21, 4142.69, 4120.05, 4203.67,
        4384.15, 4587.48],
       [4389.2 , 4473.82, 4374.43, 4442.48, 4151.  , 4190.4 , 4015.03,
        4620.87, 4386.69],
       [4389.2 , 4425.  , 4370.42, 4427.14, 4229.  , 3960.01, 4153.  ,
        4472.14, 4310.01],
       [4404.15, 4430.89, 4399.42, 4390.14, 4261.04, 3988.04, 4186.96,
        4460.19, 4337.44],
       [4420.09, 4425.  , 4399.42, 4373.36, 4221.83, 3620.  , 4340.51,
        4697.71, 4280.68],
       [4420.  , 4423.46, 4431.61, 4322.47, 4246.82, 4100.11, 4509.08,
        4834.91, 4316.01],
       [4420.  , 4430.39, 4370.21, 4250.  , 4169.76, 4258.4 , 4529.  ,
        4803.83, 4114.01],
       [4415.03, 4408.37, 4381.21, 4142.69, 4120.05, 4203.67, 4384.15,
        4707.5 , 4040.  ],
       [4426.27, 4415.72, 4419.26, 4180.  , 4086.8 , 3972.53, 4486.  ,
        4724.89, 4016.  ],
       [4437.16, 4401.01, 4442.48, 4151.  , 4190.4 , 4015.03, 4620.87,
        4648.82, 4086.29],
       [4437.16, 4401.01, 4457.75, 4202.65, 4013.46, 4275.19, 4569.54,
        4592.16, 4139.98],
       [4425.46, 4413.99, 4427.14, 4229.  , 3960.01, 4153.  , 4472.14,
        4555.14, 4108.37],
       [4426.73, 4369.25, 4430.  , 4247.  , 4038.01, 4336.42, 4509.77,
        4546.77, 4285.08]], dtype=float32)

In [ ]:
# gera pra todos os tempos
# define se é long ou short
# transforma em gaf
# salva como imagem nas pastas long e short
# passa pro keras imagedatagenerator

In [25]:
%%timeit
# numpy
# resultado bate
# tentar meter um paralelismo. demora 3,4 min pra rodar atualmente

linha = 0

linhas = 10000

print(len(dfs[0])-lookback)
start = timer()
while linha < (linhas):
#for linha in range(len(dfs[timeframes[0]])-lookback):
    df_janela = cria_janela(linha, dfs, lookback)
    
    # define se é long ou short
    # create_gaf(df_janela)
    # salva na pasta long ou short
    linha += 1
end = timer()
print("Tempo de execução: ",end - start)
print("Tempo estimado para execução completa: ", ((len(dfs[0])-lookback)/linhas)*(end - start)/60, " min")
pd.DataFrame(df_janela)

2773339
Tempo de execução:  0.7197691999999734
Tempo esperado para execução completa:  3.3269399889312106  min
2773339
Tempo de execução:  0.7194068999999672
Tempo esperado para execução completa:  3.325265354398349  min
2773339
Tempo de execução:  0.7248924000000443
Tempo esperado para execução completa:  3.350620606206205  min
2773339
Tempo de execução:  0.7212484000000359
Tempo esperado para execução completa:  3.333777194012833  min
2773339
Tempo de execução:  0.7270743000000266
Tempo esperado para execução completa:  3.3607058534796233  min
2773339
Tempo de execução:  0.7244175999999243
Tempo esperado para execução completa:  3.3484259706103168  min
2773339
Tempo de execução:  0.7273235000000113
Tempo esperado para execução completa:  3.361857713610886  min
2773339
Tempo de execução:  0.7223194999999123
Tempo esperado para execução completa:  3.3387280663504284  min
724 ms ± 2.75 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

## OLD

In [51]:
# cria um dicionário de dataframes. Pra acessar é só falar o timeframe desejado
dfs = {}
for timeframe in timeframes:
    dfs[timeframe] = (pd.read_csv(f"./Dados/Processados/BTCUSDT-{timeframe}.csv", 
                      usecols=["Close time", "Close"])[::-1])
dfs["1m"]

            Close     Close time
2817998  16542.40  1672531199999
2817997  16536.42  1672531139999
2817996  16537.78  1672531079999
2817995  16540.52  1672531019999
2817994  16539.28  1672530959999
...           ...            ...
4         4261.48  1502942699999
3         4261.48  1502942639999
2         4280.56  1502942579999
1         4261.48  1502942519999
0         4261.48  1502942459999

[2817999 rows x 2 columns]

In [52]:
%%time

# versao com query melhorada
# confirmei que funciona batendo o resultado com o da versao antiga e lenta
# ver se dá pra usar só numpy (fica mto escroto)
# e depois paralelismo

lookback = 20
linha = 0

colunas = [f"Close_{timeframe}" for timeframe in timeframes]
colunas.append("Close time")

# pra todas as linhas
print("Num linhas: ", len(dfs[timeframes[0]])-lookback)
#for linha in range(100):
for linha in [100]:
#for linha in range(len(df)-lookback):
    # cria o esqueleto da janela com o primeiro timeframe
    df_janela = pd.DataFrame(np.nan, index=range(0,lookback), columns= colunas)
    df_janela[[colunas[0], colunas[-1]]] = dfs[timeframes[0]].iloc[linha:linha+lookback].reset_index(drop=True)
    # junta o preço de fechamento pra todos os timeframes
    i = 1
    for timeframe in timeframes[1:]:
        # pega o numero da linha o primeiro closetime do timeframe é igual ou menor que o da janela atual
        index = (dfs[timeframe].iloc[:,1] <= df_janela.iat[0,-1]).values.argmax()
        # coloca as 20 (lookback) linhas subsequentes dentro da janela
        df_janela.iloc[:, i] = dfs[timeframe].iloc[index:index+lookback, 0].reset_index(drop=True)
        i += 1
    # remove a coluna close time, que foi utilizada pra sincronizar cada timeframe
    df_janela.drop("Close time", inplace=True, axis=1)
    # define se é long ou short
    # create_gaf(df_janela)
    # salva na pasta long ou short


df_janela2 = df_janela

Num linhas:  2817979
Wall time: 3.98 ms

In [31]:
# criação de DF gigante e cheio de nan's

def une_timeframes(timeframes=timeframes):
    # junta todos os timeframes em um df só

    # pega o primeiro timeframe com as colunas desejadas
    df = pd.read_csv(f"./Dados/Processados/BTCUSDT-{timeframes[0]}.csv", index_col = "Close time"
                     , usecols=["Close time","Open", "High", "Low", "Close", "Volume", "Number of trades"])
    #df.index = pd.to_datetime(df.index, unit="ms")

    # coloca o sufixo nas colunas do menor timeframe
    df.columns = df.columns+f"_{timeframes[0]}"
    print(timeframes[0])

    # junta todos os outros timeframes e coloca o sufixo correto
    for timeframe in timeframes[1:]:
        print(timeframe)
        df2 = pd.read_csv(f"./Dados/Processados/BTCUSDT-{timeframe}.csv", index_col = "Close time",
                         usecols=["Close time","Open", "High", "Low", "Close", "Volume", "Number of trades"])
        df2.columns = df2.columns+f"_{timeframe}"
        df = df.merge(df2, how="left", on=["Close time"])#, suffixes=(None, f"_{timeframe}"))


    # transforma o index em datetime
    df.index = pd.to_datetime(df.index, unit="ms")

    #inverte a ordem do df pq vamos usar ele do fim pro começo pra fazer as janelas
    df.sort_index(axis=0, inplace = True, ascending=False)
    return(df)
df = une_timeframes(timeframes)
df

1m
5m
15m
30m
1h
2h
4h
8h
1d

,Open_1m,High_1m,Low_1m,Close_1m,Volume_1m,Number of trades_1m,Open_5m,High_5m,Low_5m,Close_5m,...,Low_8h,Close_8h,Volume_8h,Number of trades_8h,Open_1d,High_1d,Low_1d,Close_1d,Volume_1d,Number of trades_1d
Close time,,,,,,,,,,,,,,,,,,,,,
2022-12-31 23:59:59.999,16536.81,16544.47,16536.23,16542.40,69.999440,2536,16540.42,16544.47,16535.05,16542.40,...,16470.0,16542.4,34408.36186,1011670.0,16607.48,16644.09,16470.0,16542.4,114490.42864,3344374.0
2022-12-31 23:58:59.999,16537.78,16538.81,16536.42,16536.42,28.882390,1267,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-31 23:57:59.999,16540.52,16540.79,16535.05,16537.78,53.359780,2088,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-31 23:56:59.999,16538.65,16540.53,16538.38,16540.52,38.588400,1536,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-12-31 23:55:59.999,16540.42,16540.92,16537.71,16539.28,36.236830,1551,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-08-17 04:04:59.999,4261.48,4261.48,4261.48,4261.48,0.140796,1,4261.48,4280.56,4261.48,4261.48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-08-17 04:03:59.999,4261.48,4261.48,4261.48,4261.48,0.012008,3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-08-17 04:02:59.999,4280.56,4280.56,4280.56,4280.56,0.261074,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-08-17 04:01:59.999,4261.48,4261.48,4261.48,4261.48,0.000000,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-08-17 04:00:59.999,4261.48,4261.48,4261.48,4261.48,1.775183,3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
%%time
# solução de janela usando uma df gigante. Bem mais lento
# cria janela de precos
lookback = 20
linha = 0
# tentar fazer um loop pra pegar tudo

# pra todas as linhas
print("Num linhas: ", len(df)-lookback)
for linha in [2000000]:
#for linha in range(len(df)-lookback):
    # zera df_janela
    df_janela = pd.DataFrame()
    for timeframe in timeframes:
        # insere na ultima coluna; com o nome de Close_timeframe ;
        # df a partir da linha atual até linha atual + lookback
        #df_janela[f"Close_{timeframe}"] = df[f"Close_{timeframe}"].iloc[linha:].dropna().iloc[:lookback].reset_index(drop=True)
        df_janela.insert(len(df_janela.columns),(f"Close_{timeframe}"),df[f"Close_{timeframe}"].iloc[linha:].dropna().iloc[:lookback].to_list())
    #print(linha)
    # define se é long ou short
    # create_gaf(df_janela)
    # salva na pasta long ou short
df_janela
df_janela2 = df_janela
# funciona, mas está muito lento
# se tirar o dropna vai de 4,4 seg pra 190 ms
# não unir mais tudo

Num linhas:  2817979
Wall time: 12.7 ms

In [ ]:
import pyts
def create_gaf(ts):
    """
    :param ts:
    :return:
    """
    data = dict()
    gadf = GramianAngularField(method='difference', image_size=ts.shape[0])
    data['gadf'] = gadf.fit_transform(pd.DataFrame(ts).T)[0] # ts.T)
    return data

In [108]:
teste = pd.DataFrame(dfs[-1])#.to_excel("teste1.xlsx")
teste
#teste.loc[teste.iloc[:,0].isna() == True]

                 0             1
0     17163.640625  1.669853e+12
1     16442.529297  1.669766e+12
2     16212.910156  1.669680e+12
3     16428.779297  1.669594e+12
4     16458.570312  1.669507e+12
...            ...           ...
1927   4016.000000  1.503360e+12
1928   4086.290039  1.503274e+12
1929   4139.979980  1.503187e+12
1930   4108.370117  1.503101e+12
1931   4285.080078  1.503014e+12

[1932 rows x 2 columns]

In [111]:
df = pd.read_csv(f"./Dados/Processados/BTCUSDT-1m.csv", index_col = "Close time"
                     , usecols=["Close time","Open", "High", "Low", "Close", "Volume", "Number of trades"])
df.index = pd.to_datetime(df.index, unit="ms")
df

,Open,High,Low,Close,Volume,Number of trades
Close time,,,,,,
2017-08-17 04:00:59.999,4261.48,4261.48,4261.48,4261.48,1.775183,3
2017-08-17 04:01:59.999,4261.48,4261.48,4261.48,4261.48,0.000000,0
2017-08-17 04:02:59.999,4280.56,4280.56,4280.56,4280.56,0.261074,2
2017-08-17 04:03:59.999,4261.48,4261.48,4261.48,4261.48,0.012008,3
2017-08-17 04:04:59.999,4261.48,4261.48,4261.48,4261.48,0.140796,1
...,...,...,...,...,...,...
2022-11-30 23:55:59.999,17175.50,17215.59,17170.01,17173.33,531.365170,6445
2022-11-30 23:56:59.999,17173.33,17175.40,17150.70,17167.16,322.428780,7797
2022-11-30 23:57:59.999,17165.50,17170.80,17156.77,17161.26,160.506230,4056
2022-11-30 23:58:59.999,17161.26,17170.27,17159.51,17164.87,129.203750,3760
2022-11-30 23:59:59.999,17164.11,17167.99,17160.00,17163.64,143.984230,3565

# Falhas
Numba. Mais devagar mesmo 100% nopython. Talvez devido a falta de suporte ao argmax(), que fez com que eu tivesse que criar uma função pra encontrar o primeiro menor. No futuro, tentar pegar o indexador somando linhas.

In [31]:
# aparentemente o numba precisa de uma lista especializada quando é lista de listas
from numba.typed import List

dfs = List()
for timeframe in timeframes:
    x = pd.read_csv(f"./Dados/Processados/BTCUSDT-{timeframe}.csv", usecols=["Close time", "Close"])[::-1].to_numpy(dtype="float32")
    dfs.append(x)

dfs[0]

array([[1.7163641e+04, 1.6698528e+12],
       [1.7164869e+04, 1.6698527e+12],
       [1.7161260e+04, 1.6698527e+12],
       ...,
       [4.2805601e+03, 1.5029426e+12],
       [4.2614800e+03, 1.5029425e+12],
       [4.2614800e+03, 1.5029425e+12]], dtype=float32)

In [32]:
@njit()
def encontra_primeiro_menor(item, array):
    """return the index of the first occurence of item < array"""
    for i in range(len(array)):
        if array[i] <= item:
            return i
    return -1

In [33]:
lookback = 20
@njit(parallel = True)
def cria_janela(linha, dfs , lookback):
    # cria janela vazia. precisa ter 1 coluna a mais que a qtd de timeframes
    df_janela = np.full(shape= (lookback, len(dfs)+1), fill_value=np.nan, dtype="float32")
    # coloca o preco de fechamento de 1m na primeira coluna e o close time de 1m na ultima coluna
    
    df_janela[:, 0] = dfs[0][linha:linha+lookback, 0]
    df_janela[:, -1] = dfs[0][linha:linha+lookback, -1]
    
    for i in prange(1,len(dfs)):
        # pega o numero da linha o primeiro closetime do timeframe é igual ou menor que o da janela atual
        index = encontra_primeiro_menor(df_janela[0,-1], dfs[i][:,1])
        # coloca as 20 (lookback) linhas subsequentes dentro da janela
        df_janela[:, i] = dfs[i][index:index+lookback, 0]

    # deleta coluna de close time e retorna
    return(df_janela[:,:-1])
pd.DataFrame(cria_janela(99, dfs, lookback))

,0,1,2,3,4,5,6,7,8
0,17089.849609,17084.429688,17095.529297,17106.650391,17106.650391,17106.650391,17062.849609,16865.640625,16442.529297
1,17084.429688,17095.529297,17106.650391,17041.710938,17097.189453,17062.849609,16865.640625,16884.179688,16212.910156
2,17083.099609,17104.300781,17064.970703,17097.189453,17062.849609,16789.660156,16879.320312,16442.529297,16428.779297
3,17086.970703,17101.140625,17041.710938,17064.400391,16921.439453,16865.640625,16884.179688,16393.480469,16458.570312
4,17083.550781,17106.650391,17050.640625,17062.849609,16789.660156,16810.119141,16845.250000,16463.310547,16522.140625
5,17086.609375,17085.949219,17097.189453,17115.800781,16861.980469,16879.320312,16442.529297,16212.910156,16598.949219
6,17095.529297,17075.330078,17043.539062,16921.439453,16865.640625,16879.490234,16426.560547,16146.259766,16603.109375
7,17098.220703,17064.970703,17064.400391,16742.050781,16847.009766,16884.179688,16393.480469,16222.059570,16226.940430
8,17092.019531,17058.199219,17044.230469,16789.660156,16810.119141,16864.099609,16497.640625,16428.779297,15781.290039
9,17094.800781,17057.789062,17062.849609,16765.699219,16777.240234,16845.250000,16463.310547,16574.279297,16280.230469
10,17100.960938,17041.710938,17023.580078,16861.980469,16879.320312,16880.189453,16287.660156,16562.980469,16700.679688
11,17104.300781,17039.390625,17115.800781,16879.980469,16865.060547,16442.529297,16212.910156,16458.570312,16700.449219
12,17096.369141,17043.939453,17043.439453,16865.640625,16879.490234,16465.949219,16224.750000,16512.859375,16692.560547
13,17105.550781,17050.640625,16921.439453,16817.580078,16890.650391,16426.560547,16146.259766,16583.750000,16662.759766
14,17108.529297,17049.269531,16875.660156,16847.009766,16884.179688,16379.719727,16213.290039,16522.140625,16900.570312
15,17104.740234,17070.000000,16742.050781,16828.279297,16860.609375,16393.480469,16222.059570,16513.000000,16619.460938
16,17101.140625,17097.189453,16787.000000,16810.119141,16864.099609,16412.539062,16178.219727,16461.660156,16329.849609
17,17098.900391,17046.150391,16789.660156,16884.699219,16879.529297,16497.640625,16428.779297,16598.949219,16812.080078
18,17094.580078,17037.949219,16783.029297,16777.240234,16845.250000,16516.640625,16555.390625,16558.109375,17070.310547
19,17097.160156,17043.539062,16765.699219,16871.869141,16961.349609,16463.310547,16574.279297,16623.900391,17601.150391